body, html{
    margin: 0;
    height: 100%;
}

.bg{
    height: 100%;
    background-image: url('../images/pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.center{
    margin: auto;
    position: absolute !important;
    top: 0; left: 0; bottom: 0; right: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}

.card{
    width: 40vh;
    height: 500px;
    padding: 16px;
}

.card .card-action{
    padding: 16px;
    overflow: auto;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #039be5;
    margin-right: 0px;
    text-transform: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover{
    color: #81d4fa;
}

.checkbox{
    float: left;
    margin-left: 10px;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
  width: 100%;
}