<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/pace.css" />

    <script src="/assets/js/pace.js"></script>
</head>

<body>
    <div class="bg">
        <div id="div-profile" class="card center z-depth-5" style="display:none; height:600px; overflow:auto">
            <span class="card-title"><strong>Profile</strong></span>
            <hr>
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" name="name" type="text" class="validate" required>
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="address" name="address" type="text" class="validate" required>
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="phone" name="phone" type="text" class="validate" required>
                        <label for="phone">Phone</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light light-blue" style="width:100%" type="button" onclick="logout()">
                    Log Out
                </button>
            </div>
        </div>

         <div id="div-fill-profile" class="card center z-depth-5" style="display:none; height:800px">
            <span class="card-title"><strong>Fill Profile</strong></span>
            <hr>
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" name="name" type="text" class="validate" required>
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="address" name="address" type="text" class="validate" required>
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div id="location-picker" style="width: 100%; height: 300px;"></div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="phone" name="phone" type="text" class="validate" required>
                        <label for="phone">Phone</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light light-blue" style="width:100%" type="button" onclick="updateProfile()">
                    Submit
                </button>
            </div>
        </div>
    </div>
    <div id="modal-load" class="modal">
        <div class="modal-content">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <h5 id="txt-load" style="
                    float: right;
                    margin-top: 21px;
                    margin-right: 58%;
                ">Loading Data...</h5>
        </div>
    </div>
    <div id="modal-error" class="modal">
        <div class="modal-content" >
            <span id="txt-error"></span>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
        </div>
    </div>
    <input id="profile-api-url" type="hidden" value="{{ .ProfileApiUrl }}">
    <input id="profile-update-api-url" type="hidden" value="{{ .ProfileUpdateApiUrl }}">
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAkAI1HCPS_-VSjosFC4EsNJq7koLpwqbU'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="/assets/js/location_picker.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/profile.js"></script>
</body>

</html>