<!DOCTYPE html>
<html>

<head>
    <meta name="google-signin-client_id" content="1092972388711-erectp98l0sjg6notdvnrp4kr5r58dtl.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="/assets/css/pace.css" rel="stylesheet" />

    <script src="/assets/js/pace.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <div class="bg">
        <div class="card center z-depth-5">
            <span class="card-title"><strong>Register</strong></span>
            <hr>
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="g-signin2" data-onsuccess="successGoogleSignIn" data-onfailure="failureGoogleSignIn" data-longtitle="true"></div>
                <button class="btn waves-effect waves-light light-blue" style="width:100%; margin-top:16px" type="button" onclick="register()">
                    Register
                    </button>
            </div>
            <div class="card-action">
                <a href="/login" class="left">Already Registered? Login Now!</a>
            </div>
        </div>
    </div>
    <div id="modal-load" class="modal">
        <div class="modal-content">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <h5 id="txt-load" style="
                    float: right;
                    margin-top: 21px;
                    margin-right: 58%;
                ">Loading Data...</h5>
        </div>
    </div>
    <div id="modal-error" class="modal">
        <div class="modal-content">
            <span id="txt-error"></span>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
        </div>
    </div>
    <input id="register-api-url" type="hidden" value="{{ .RegisterApiUrl }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/register.js"></script>
</body>

</html>