<!DOCTYPE html>
<html>

<head>
    <meta name="google-signin-client_id" content="1092972388711-erectp98l0sjg6notdvnrp4kr5r58dtl.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/pace.css" />

    <script src="/assets/js/pace.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <div class="bg">
        <div class="card center z-depth-5" style="height:300px;">
            <span class="card-title"><strong>Reset Password</strong></span>
            <hr>
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="token" type="hidden" name="token" value="{{ .Token }}"/>
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">New Password</label>
                    </div>
                </div>
                <button id="btn-reset-password" class="btn waves-effect waves-light light-blue" style="width:100%; margin-top:16px" type="button" onclick="resetPassword()">
                    Update Password
                </button>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div id="modal-load" class="modal">
        <div class="modal-content">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <h5 id="txt-load" style="
                    float: right;
                    margin-top: 21px;
                    margin-right: 58%;
                ">Loading Data...</h5>
        </div>
    </div>
    <div id="modal-error" class="modal">
        <div class="modal-content" >
            <span id="txt-error"></span>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
        </div>
    </div>
    <input id="reset-password-api-url" type="hidden" value="{{ .ResetPasswordApiUrl }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/reset_password.js"></script>
</body>

</html>